@font-face {
  font-family: iconfont; /* Project id 2667653 */
  src: url("iconfont.ttf?t=1719667796161") format("truetype");
}

.iconfont {
  font-size: 20px;
  font-family: iconfont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.icon-yiwen::before {
  content: "\e693";
  font-size: 15px;
}

.icon-xiala::before {
  content: "\e62b";
}

.icon-tuichu::before {
  content: "\e645";
}

.icon-xiaoxi::before {
  content: "\e61f";
  font-size: 21.2px;
}

.icon-zhuti::before {
  content: "\e638";
  font-size: 22.4px;
}

.icon-sousuo::before {
  content: "\e611";
}

.icon-contentright::before {
  content: "\e8c9";
}

.icon-contentleft::before {
  content: "\e8ca";
}

.icon-fangda::before {
  content: "\e826";
}

.icon-suoxiao::before {
  content: "\e641";
}

.icon-zhongyingwen::before {
  content: "\e8cb";
}

.icon-huiche::before {
  content: "\e637";
}
