.upload {
  height: auto;

  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .upload-list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 90%;
      margin: 10px 0;
    }
  }

  .img-box {
    margin-bottom: 10px;
  }

  .form-box {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .card {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      .el-form {
        width: 100%;
      }
    }
  }
}
