.filter {
  width: 220px;
  height: 100%;
  margin-right: 10px;
  padding: 18px;
  box-sizing: border-box;

  .title {
    margin: 0 0 15px;
    color: var(--el-color-info-dark-2);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  .search {
    display: flex;
    align-items: center;
    margin: 0 0 15px;

    .el-icon {
      cursor: pointer;
      transform: rotate(90deg) translateY(-8px);
    }
  }

  .el-scrollbar {
    :deep(.el-tree) {
      overflow: auto;
      height: 80%;

      .el-tree-node__content {
        height: 33px;
      }
    }

    :deep(.el-tree--highlight-current) {
      .el-tree-node.is-current > .el-tree-node__content {
        background-color: var(--el-color-primary);

        .el-tree-node__label,
        .el-tree-node__expand-icon {
          color: white;
        }

        .is-leaf {
          color: transparent;
        }
      }
    }
  }
}
